.gitattributes export-ignore
.git-blame-ignore-revs export-ignore
.gitignore export-ignore
.dir-locals.el export-ignore
.editorconfig export-ignore
.perltidyrc export-ignore
.perlcriticrc export-ignore
copyright.template export-ignore
make_copyright.sh export-ignore
Makefile export-ignore
